@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,500&display=swap');


:root {
  --mustard: #E3B448;
  --sage: #CBD18F;
  --forestGreen: #3A6B35;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--forestGreen);
  font-size: 62.5%;
  padding: 3rem;
}

main {
  position: relative;
  width: 40rem;
  font-size: 1rem;
  padding: 4rem;
  background: var(--forestGreen);
  text-align: center;
  border-radius: 1rem;
  box-shadow: -0.5rem -0.5rem 1rem rgba(255, 255, 255, 0.1),                    0.5rem 0.5rem 1.5rem rgba(20, 50, 20, 0.3);
}

main h2 {
  color: var(--sage);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.4rem;
  font-size: 2.3rem;
}

main article {
  text-align: left;
  margin-top: 4rem;
}

main article .inputBox {
  margin-top: 2rem;
}

main article .inputBox label {
  display: block;
  color: var(--sage);
  margin-bottom: .5rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 600;
}

main article .inputBox .input {
  width: 100%;
  height: 3rem;
  outline: none;
  border: none;
  border-radius: .8rem;
  padding: .5rem 1rem;
  background: var(--forestGreen);
  color: var(--mustard);
  font-size: 1.1rem;
  box-shadow: inset -0.2rem -0.2rem .6rem rgba(255, 255, 255, 0.2), inset 0.2rem 0.2rem 1rem rgba(10, 40, 10, 0.5);

}

main article .inputBox .textarea {
  padding: .6rem 1rem;
  height: 7rem;
}

.copyShare {
  display: flex;
  justify-content: space-around;
}

.copyShare * {
  width: 5rem;
}

.btns {
  display: flex;
  justify-content: space-evenly;
}

#redact-btn {
  padding: 1rem 2rem;
  font-size: .9rem;
}

.btn {
  margin: .5rem;
  padding: .5rem 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all .5s;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: .8rem;  
  -webkit-tap-highlight-color: transparent;
  color: var(--mustard);
  background: var(--forestGreen);
  box-shadow: -0.2rem -0.2rem .4rem rgba(255, 255, 255, 0.1),                  0.2rem 0.2rem 1rem rgba(10, 50, 10, 0.3);
}

.btn:active, btn:focus, .pinned {
  box-shadow: -0.05rem -0.05rem .2rem rgba(255, 255, 255, 0.1), 0.05rem 0.05rem .6rem rgba(10, 50, 10, 0.3);
  border: none;
  outline: none;
  transform: scale(0.95);
}

.pinned {
  cursor: not-allowed;
  pointer-events: none;
}

#main-texts::selection, body *::selection {
  background-color: var(--sage);
  color: var(--forestGreen);
}

#sign::placeholder {
  color: var(--mustard);
  opacity: 50%;
}

/* STATS */

aside {
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

aside h3 {
  color: var(--sage);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.4rem;
  font-size: 1.5rem;
  display: block;
  border-bottom: .3rem double var(--sage);
  width: 20rem;
  padding: .7rem;
}

.statRec {
  margin: 2rem;
}